<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/table.css">
  </head>
  <body>
    <div id='header'>
      <nav >
        <ul>
          <a href="/trucks">Trucks</a>
          <a href="/partloads">Partloads</a>
          <a href="/detours">Detours</a>
          <a href="/partloads/new">Add Partload</a>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>