.form{
    max-width: 800px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form label{
    display: inline-block;
    margin: 10px 5px 10px 5px;
}

span.avoidwrap { display:inline-block; }


.form input[type=submit],
.form input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #4f0a56; 
}


.form input[type=submit]:hover,
.form input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

p {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    color:#472d4f;
}