
<link rel="stylesheet" type="text/css" href="/form.css">

<div class="form"><center>
<h1>All Detours Has Been Populated</h1>
<form action="/alldetours/optimise">
    <input type="submit" value="Seek Global Optimal" />
</form></center>
</div>



