<h1>Trucks</h1>
<a href="/trucks/new">Add a new Truck</a>

<table class="center">
  <tr>
    <th>Name of Truck</th>
    <th></th>
    <th>Type of Truck</th>
    <th></th>
    <th>Has PartLoad?</th>
    <th></th>
    <th>Truck id</th>
    
  </tr>
  <% @trucks.each do |truck| %>
  <tr>
    <td><%= truck.name %></td>
    <td>|</td>
    <td><%= truck.type %></td>
    <td>|</td>
    <td><%= truck.has_part_load %></td>
    <td>|</td>
    <td><%= truck.id %></td>
  </tr>

  <%end%>
</table>